html {
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div,
input {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  color: #0f0044;
  font-family: 'DM Sans', sans-serif;
}

#root {
  display: flex;
  justify-content: space-around;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

th {
  text-align: left;
}
